/* BASIC FONT SETTINGS */
body {
	color: black;
	margin: 0;
	padding: 0;
	font: normal 14px/1.45em "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
	border-bottom: 5px solid black;
	min-height: 510px;
	min-width: 900px;
}
a, a:active, a:visited {
color: #705FD9;
text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
color: black;
margin: 14px 0 0 0;
padding: 0;
}
p {
margin: 14px 0 14px 0;
padding: 0;
}
h1 {
	font-size: 17px;
}
h2{
	font-size: 15px;
}
h3{
	font-size: 14px;
}

/* HEADER */
#title{
	font-size: 36px;
}
#title a{
	color:white;
	text-decoration: none;
}
#subtitle{
	color:white;
	font-size: 14px;
	font-weight: normal;
}
#header{
background: #483D8B;
padding: 25px 0 0 75px;
height: 85px;
border-bottom: 5px solid black;
}

hr {
  color: black;
  background-color: black;
  border: 0px;
  height: 2px;
  width: 400px;
  margin-top:30px;
  margin-bottom: 30px;
}


/* MAIN CONTENT */
#content{
margin-left: 75px;
padding: 10px 0 0 0;
width: 550px;
}
#page-title{
	font-size: 30px;
	line-height: 36px;
}

/* SIDEBAR */
#sidebar{
position: absolute;
left: 700px;
top: 125px;
width: 200px;
font-size: 12px;
}
#sidebar h1{
font-size: 14px;
}
#sidebar ul{
	list-style-type: none;
	padding-left: 10px;
	margin: 0;
}

/* TABLES AND SPECIAL CASES*/
img.bordered {
	border: 2px solid black;
}
table {
	border-collapse: collapse;
}
th {
	border-bottom: 1px solid black;
	text-align: left;
}
td {
	padding: 0 8px 0 8px;
}

/* DISQUS */

#disqus_thread {
	font-size: 12px;
}

#disqus_thread h3{
	font-size: 13px;
}


/* PRINT */
@media print{
#sidebar {
	display:none;
}
#header{
	background: white;
	border-bottom: 0;
}
#content{
	border-top: 2px solid black;
}
body{
	border: 0px;
}
#title {
	color: black;
}
#subtitle {
	color: black;
}
#disqus_thread{
	display:none;
}
.dsq-brlink{
	display:none;
}
}
