/* SITE WIDE BASIC SETTINGS */
body {
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	font-size: 12pt;
	line-height: 1.2em;
}

a {
	text-decoration: none;
	color: #705FD9;
}

a:hover {
	text-decoration: underline;
	color: #705FD9;
}

ul {
	padding-left: 1.5em;
}

ul ul {
	list-style-type: none;
	padding-left: 1.5em;
}

h1, h2, h3, h4, h5, h6, nav	{
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.2em;
}

/* HEADER AND NAV SETTINGS */
header {
	display: block;
	margin-bottom: 0px;
	margin-left: -2em;
	margin-right: -2em;
	padding-top: 3ex;
	background: #483D8B;
	border-bottom: 1px solid #483D8B;
}

header a {
	color: white;
}

header a:hover {
	color: white;
}

nav {
	display: block;
	width: auto;
	text-align: right;
	font-size: 0.85em;
	margin: 0em;
	padding: 0em;
}

nav ul {
	margin-left: 1em;
	margin-right: 1em;
	padding-right: 0em;
	display: inline;
	width: auto;
}

nav li {
	margin-left: .2em;
	margin-right: .2em;
	padding: .1em .5em 0em .5em;
	display: inline;
	width: auto;
}

#main-title {
	padding: 0em;
	text-align: left;
	font-size: 4ex;
	font-weight: normal;
	margin: 0em;
	margin-left: 1em;
}

#backlink {
	font-size: 0.5em;
	color: white;
}

/* tab effect */
li.selected {
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 3px 5px;
	border-top-left-radius: 3px 5px;
	background: white;
	border-bottom: 4px solid white;
}

li.selected a {
	color: black;
}

/* Post headings */
h1.entry {
	font-size: 1.1em;
	font-weight: bold;
}

span.date {
	font-size: 0.9em;
	font-weight: normal;
	margin-left: 0.25em;
}

h1.entry a {
	color: black;
}

hr.separator {
	margin: 3em 0 3em 0;
	border-width: 0px;
}


/* TABLES */
table {
	border-collapse: collapse;
}

th {
	border-bottom: 1px solid black;
	text-align: left;
}

td {
	padding: 0 8px 0 8px;
}

/* PRINT */

@media print {
	header {
		background: white;
		border-bottom: 0px;
		margin-bottom: 2em;
		margin-top: 2em;
	}

	header a {
		color: black;
	}

	nav {
		display: none;
	}

	#content {
		border-top: 2px solid black;
	}

	body {
		border: 0px;
	}
}

/* Small Devices */

@media only screen and (max-device-width: 480px) {
	body {
		width: 860px;
		font-size: 2em;
		padding-left: 1em;
		padding-right: 1em;
	}
}

.label {
  font-size: 80%;
  font-weight: bold;
  color: #ffffff;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #483D8B;
  padding: 1px 4px 0px;
  border-radius: 3px;
  margin-left: 3px;
}
