---
layout: default
bodyclass: two-col
coursetitle: Math 307
titlesuffix: Math 307 - Autumn 2012
base: math307/au12/
sections: [Lessons, Homework, Quizzes, Exams]
---

<header class="masthead">
{% include nav-course.html %}
</header>

<div id="page">
<p>This is outdated information from a course taught during Autumn 2012</p>

{{ content }}
</div>

<aside class="sidebar">
<h1>Office Hours</h1>
<p class="office-hours">{% include office-hours.html %}</p>

<h1>Links</h1>
<ul>
<li><a href="{{ site.url }}/math307/au12/syllabus.pdf">Syllabus</a></li>
<li><a href="http://staff.washington.edu/grigg/slopefield">Slopefield generator</a></li>
<li><a href="https://catalyst.uw.edu/gradebook/grigg/68771">Gradebook</a></li>
</ul>
</aside>
