---
layout: default
bodyclass: two-col
coursetitle: Math 307
titlesuffix: Math 307 - Autumn 2012
base: math307/au12/
sections: [Lessons, Homework, Quizzes, Exams]
---

<header class="masthead">
{% include nav-course.html %}
</header>

<div id="page">
{{ content }}
</div>
<aside class="sidebar">
<h1>Office Hours</h1>
<p class="office-hours">{% include office-hours.html %}</p>

<h1>Links</h1>
<ul>
<li><a href="/grigg/math307/au12/syllabus.pdf">Syllabus</a></li>
<li><a href="http://staff.washington.edu/grigg/slopefield">Slopefield generator</a></li>
<li>Gradebook</li>
</ul>
<h1>Calendar</h1>
<ul class="calendar" id="307-calendar">
{% include 307au12cal.html %}
</ul>
</aside>

<script type="text/javascript">
$(document).ready( function() {
    var d = new Date(2012,10,1);
    var now = d.toISOString().substring(0,10);
    d.setDate(d.getDate() + 8)
    var limit = d.toISOString().substring(0,10);
    $("#307-calendar li").each( function() {
        if ( this.className < now || this.className >= limit ) {
            $(this).remove();
        }
    })
});
</script>
