---
layout: default
bodyclass: two-col
coursetitle: Math 307
titlesuffix: Math 307 - Autumn 2012
base: math307/au12/
sections: [Lessons, Homework, Quizzes, Exams]
---

<header class="masthead">
{% include nav-course.html %}
</header>

<div id="page">
{{ content }}
</div>
<div id="sidebar">
<h6>Links</h6>
<ul>
<li>Syllabus</li>
<li>Slopefield generator</li>
<li>Gradebook</li>
</ul>
<h6>Calendar</h6>
<ul>
<li>Homework 1 is due. Don't forget to staple it.</li>
<li>Class 1M</li>
<li>Quiz 1</li>
</ul>
</div>
