<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
    {% if page.keywords %}
 	<meta name="keywords" content="{{ page.keywords }}">
 	{% endif %}
 	{% if page.feed %}
   	<link rel="alternate" type="application/atom+xml" href="{{ page.feed }}" title="RSS feed" />
	{% endif %}

	{% if page.mathjax %}
	<!--mathjax script for displaying latex maths-->
	<script src="https://d3eoax9i5htok0.cloudfront.net/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
	{% endif %}

    <link rel="stylesheet" href="{{ site.url }}files/css/style.css" />
    <link rel="shortcut icon" href="{{ site.url }}files/img/infinity.png" />
    <link rel="apple-touch-icon" href="{{ site.url }}files/img/iphone-icon.png" />

	<title>{{ page.title }}</title>

</head>

<body>

	{{ content }}


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try{
var pageTracker = _gat._getTracker("UA-18206371-1");
pageTracker._trackPageview();
} catch(err) {}
</script>

</body>
</html>
