<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
    {% if page.keywords %}
 	<meta name="keywords" content="{{ page.keywords }}">
 	{% endif %}
 	{% if page.description %}
 	<meta name="description" content="{{ page.description }}">
 	{% endif %}
 	{% if page.feed %}
   	<link rel="alternate" type="application/atom+xml" href="{{ page.feed }}" title="Atom feed" />
	{% endif %}

	{% if page.mathjax %}
	<!--mathjax script for displaying latex math-->
	<script type="text/javascript"
			src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML.js">
	</script>
	{% endif %}

    <!-- jquery -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	{% if page.mediaelement %}
	<!-- mediaelement -->
    <script src="/files/mediaelement/mediaelement-and-player.min.js"></script>
    <link rel="stylesheet" href="/files/mediaelement/mediaelementplayer.min.css" />
	{% endif %}

    <link rel="stylesheet" href="{{ site.url }}/files/css/style.css?v=1.05" />
    <link rel="shortcut icon" href="{{ site.url }}/files/img/infinity.png" />
    <link rel="apple-touch-icon" href="{{ site.url }}/files/img/iphone-icon.png" />

	{% if page.htmltitle %}
	<title>{{ page.htmltitle }}</title>
	{% else %}
	<title>{{ page.title }}{% if page.title and page.titlesuffix %} - {% endif %}{{ page.titlesuffix }}</title>
	{% endif %}

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>

	{{ content }}


	{% if page.mediaelement %}
	{% include mediaelement_options.html %}
    {% endif %}
</body>
</html>
